/* Basic Design */
body {
    font-family: sans-serif;
    margin: 0;
    background-color: #fffafb;
}

/* Menu bar */
nav {
    background: #d63384;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Header Section */
.hero {
    background: pink;
    padding: 100px 20px;
    text-align: center;
}

/* Service Boxes */
.service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    width: 250px;
    text-align: center;
}
